# متغیرهای محیطی محرمانه - هرگز نباید در گیت‌هاب قرار بگیرد
.env

# فایل‌های لاگ
logs/*.log

# فایل‌های کش و بایت‌کد پایتون
__pycache__/
*.pyc
*.pyo

# محیط‌های مجازی
venv/
.venv/
env/

# فایل‌های موقت سیستم‌عامل و ویرایشگرها
.DS_Store
*.swp
.vscode/
.idea/
